<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>blog</title>
    </head>
    <body>
        <h1 class="center">blog</h1>
        <div class="center">
            <a href="{{ url_for('blog.new') }}" class="pure-button pure-button-primary">新建博客</a>
        </div>
        <table class="center-block pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Updated Time</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody id="id-blog-list" >

            </tbody>
        </table>

        <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='utilize.css') }}" rel="stylesheet">
        <script src='{{ url_for('static', filename='utilize.js') }}'></script>
        <script src='{{ url_for('static', filename='blog_index.js') }}'></script>
    </body>
</html>
