<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ajax  flask  weibo </title>
        <style>
            .comment-cell {
                border: 1px red solid;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <input id='id-input-weibo'>
            <button id='id-button-add'>添加新微博</button>
        </div>
        <div class="weibo-list" id="weibo-list">
        </div>
        <script src='/static/utilize.js'></script>
        <script src='/static/weibo.js'></script>
    </body>
</html>
